<?xml version="1.0" encoding="utf-8"?>
<!-- Sample Configuration File for SONAR-->
<sonarConfiguration>
    <security adminPass="X" userPasswordAlgorithm="MD5" />
    <caching>
        <database enabled="false" />
        <calculator enabled="false" />
    </caching>
    <database>
        <hibernate config="src/edu/kit/ipd/sonar/server/hibernate.cfg.xml" />
    </database>
</sonarConfiguration>
