<?xml version="1.0" encoding="utf-8"?>
<!-- Sample Configuration File for SONAR-->
<sonarConfiguration>
    <security adminPass="sonar" userPasswordAlgorithm="MD5" />
    <caching>
        <database enabled="false" />
        <calculator enabled="false" />
    </caching>
    <database>
        <hibernate config="hibernate.cfg.xml" />
    </database>
</sonarConfiguration>
