edu.kit.ipd.sonar.server.centralities.BetweennessCentrality
edu.kit.ipd.sonar.server.centralities.EdgeBetweennessCentrality
edu.kit.ipd.sonar.server.centralities.EdgeWeightCentrality
edu.kit.ipd.sonar.server.centralities.IndegreeCentrality
edu.kit.ipd.sonar.server.centralities.WeightedIndegreeCentrality
edu.kit.ipd.sonar.server.centralities.NodeWeightCentrality
edu.kit.ipd.sonar.server.centralities.OutdegreeCentrality
edu.kit.ipd.sonar.server.centralities.PageRankCentrality
